/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root,
.navbar-dark,
.dropdown-menu-dark,
.navbar,
.btn-outline-info,
.navbar[data-bs-theme="dark"],
[data-bs-theme="dark"],
[data-bs-theme="light"] {
  --color-1: #13151d;
  --color-2: #1b1f2c;
  --color-3: #3e465a;
  --color-4: #2c3349;
  --blue: #7cf3f7;
  --blue-2: #3ed8ff;
  --cyan-500: #0dcaf0de;
  --dark-blue: #3f99ff;
  --text-color: #ebebeb;
  --red: #d81e319d;
  --white: #fff;
  --gray: #575d63;
  --bs-tertiary-bg-rgb: 27, 31, 44;
  --bs-navbar-color: rgb(255, 255, 255);
  --bs-heading-color: var(--text-color);
  --bs-body-bg: var(--color-2);
  --bs-dropdown-bg: var(--color-2);
  --bs-dropdown-link-active-bg: #3d3f5f;
  --bs-dropdown-link-hover-bg: var(--color-1);
  --bs-navbar-hover-color: var(--blue);
  --bs-body-color: var(--text-color);
  --bs-emphasis-color-rgb: 49, 210, 242;
  --bs-tertiary-bg: var(--color-3);
}
img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@font-face {
  font-family: yekan;
  src: url(font/Yekan.woff);
}
@font-face {
  font-family: vazir;
  src: url(font/Vazir.ttf);
}
body {
  background-color: var(--color-1);
  font: 17px vazir, yekan, sans-serif;
}
img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.h5,
h5 {
  font-size: 1.25em;
}
.form-control {
  background-color: var(--white);
  --bs-body-color: var(--color-2);
  --bs-body-bg: var(--white);
}
nav {
  .btn {
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
nav .btn:active {
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);
}
.desc {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.read-more {
  font-size: 0.9em;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 30px;
  i {
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-right: 5px;
    margin-bottom: -3px;
    font-size: 1em;
    font-weight: bold;
  }
}
.read-more:hover i {
  margin-right: 10px;
}
#navbar {
  z-index: 2000;
  padding: 10px 0;
  .container {
    border: 1px solid var(--color-3);
    background-color: #1b1f2c9f;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 15px;
  }
  .navbar-brand {
    width: clamp(120px, 12%, 200px);
  }
  .nav-item {
    border: 2px solid transparent;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    font-size: 0.9em;
    max-width: 150px;
  }
  .nav-item:hover {
    border-bottom-color: var(--blue);
  }
  .navbar-toggler {
    background-color: #e8f8ff;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: 0 0 0 3px #31374e;
            box-shadow: 0 0 0 3px #31374e;
  }
  .btn-login{
    width: 100px;
  }
}
header {
  height: 550px;
  .swiper {
    height: 100%;
    .swiper-slide::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, right top, left top, from(#000000da), to(transparent));
      background: -o-linear-gradient(right, #000000da, transparent);
      background: linear-gradient(to left, #000000da, transparent);
      z-index: 0;
    }
    .swiper-caption {
      z-index: 2;
      height: 100%;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
      padding: 50px;
      .name {
        font-size: 1.6em;
        text-shadow: 2px 2px 14px #000000da, -2px 2px 14px #000000da,
          2px -2px 14px #000000da, -2px -2px 14px #000000da;
      }
      .btn {
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-padding-y: 0.3rem;
        --bs-btn-font-size: 0.65rem;
        font-weight: 500;
        display: block;
      }
      .btn-2 {
        padding: 0.35rem 0.5rem 0.1rem;
        --bs-btn-font-size: 0.7rem;
        font-weight: bold;
      }
      .genre {
        .btn {
          --bs-btn-font-size: 0.85rem;
          font-weight: 100;
          color: var(--text-color);
          --bs-btn-padding-x: 0.5rem;
          --bs-btn-padding-y: 0.1rem;
          margin: 0 2px;
        }
      }
      .desc {
        font-size: 1.1em;
        color: var(--text-color);
        text-shadow: 2px 2px 14px #000000da, -2px 2px 14px #000000da,
          2px -2px 14px #000000da, -2px -2px 14px #000000da;
        max-width: 550px;
      }
      .read-more {
        max-width: 250px;
      }
    }
  }
}
#navbar-genre.navbar {
  border: 2px solid var(--color-3);
  max-width: 1200px;
  border-radius: 15px;
}
.row-scrolling {
  overflow-x: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.rows-container {
  max-width: 1300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.row-header {
  width: 100%;
  background-color: var(--cyan-500);
  color: var(--color-1);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 15px;
  p {
    margin: 0;
  }
  .read-more {
    color: var(--color-2);
    padding: 0;
  }
}
.most-popular {
  .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--color-2);
    -webkit-box-shadow: 14px 14px 0px 0 var(--color-3);
            box-shadow: 14px 14px 0px 0 var(--color-3);
    .info {
      .info-list-item {
        line-height: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 0.9em;
        i {
          margin-left: 7px;
          font-size: 1.1em;
        }
      }
    }
    .img-container {
      height: 130%;
      bottom: 16px;
      left: 16px;
      border-radius: 10px;
      overflow: hidden;
      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -100%;
        left: 0;
        padding: 20px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        font-size: 0.9em;
        text-align: center;
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
        background-color: #0000009a;
        margin: 0;
      }
    }
  }
  .post:hover .overlay {
    bottom: 0;
  }
}
.row-we {
  .post {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 300px;
    cursor: pointer;
    .num {
      color: var(--bs-light);
      padding: 5px 10px 5px 12px;
      border-radius: 0 0 0 15px;
      font-size: 0.85em;
      z-index: 3;
    }
    .situation {
      font-size: 0.75em;
      padding: 6px 15px 0 16px;
      border-radius: 0 0 15px 0;
      z-index: 3;
      background-color: var(--blue-2);
    }
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -240px;
      left: 0;
      background-color: #000000be;
      padding: 20px 10px;
      text-align: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      h4 {
        font-family: fantasy;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .desc {
        -webkit-line-clamp: 4;
        font-size: 0.86em;
      }
      ul {
        font-size: 0.85em;
        li {
          display: inline;
          margin: 3px;
          a {
            color: var(--blue-2);
          }
        }
      }
    }
  }
}
.row-we .post:hover .overlay,
.row-we .post .overlay:active {
  bottom: 0;
  padding: 60px 10px;
}
.proposal {
  height: 420px;
}
.news-item {
  .parent-img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000d5), to(transparent));
    background: -o-linear-gradient(bottom, #000000d5, transparent);
    background: linear-gradient(to top, #000000d5, transparent);
  }
  .desc {
    font-size: 0.9em;
  }
}
.card {
  .card-title {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .img-container {
    img {
      height: 100%;
    }
  }
  ul {
    li {
      font-size: 0.85em;
      i {
        font-size: 1em;
        margin: 0 5px;
      }
    }
  }
  .desc {
    font-size: 0.8em;
    -webkit-line-clamp: 3;
  }
}
#btn-group {
  width: 250px;
}
footer {
  background-color: var(--color-2);
  padding: 0 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  h3 {
    font-size: 1.9em;
    font-weight: bold;
    margin: 0;
  }
  .list {
    font-size: 0.75em;
  }
  .social-media {
    width: 250px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    .icon {
      background-color: var(--color-4);
      padding: 8px 12px 2px;
      border: 1px solid var(--color-2);
      -webkit-box-shadow: 6px 6px 4px var(--color-1);
              box-shadow: 6px 6px 4px var(--color-1);
      cursor: pointer;
      font-weight: bold;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      color: var(--text-color);
      .bi-instagram {
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
        background: #833ab4;
        background: -o-linear-gradient(260deg, #833ab4, #fd1d1d, #fcb045);
        background: linear-gradient(190deg, #833ab4, #fd1d1d, #fcb045);
        -webkit-background-clip: text;
                background-clip: text;
      }
    }
    .icon:hover {
      -webkit-transform: translate(6px, 6px);
          -ms-transform: translate(6px, 6px);
              transform: translate(6px, 6px);
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    .instagram:hover {
      background-color: #fff;
      i {
        color: transparent;
      }
    }
    .github:hover {
      color: #000;
      background-color: #fff;
    }
    .telegram:hover {
      background-color: #fff;
      color: #24a1de;
    }
    .linkedin:hover {
      background-color: #fff;
      color: #0e76a8;
    }
  }
}
@media screen and (max-width: 1000px) {
  header {
    height: 400px;
    .swiper {
      .swiper-caption {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
        padding: 10px 30px;
        .genre .btn {
          font-size: 0.75em;
        }
      }
    }
  }
  #navbar-genre.navbar {
    width: 100%;
    border-radius: 0;
    border-inline-color: transparent;
  }
  .row-we {
    .post {
      height: 350px;
      .overlay {
        bottom: -291px;
      }
    }
  }
  .row-scrolling-md {
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .proposal,
  .news {
    height: 450px;
  }
  .parent-img {
    height: 210px;
    .desc {
      font-size: 1.2em;
    }
  }
  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .social-media {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin: 30px 0;
    }
    .list{
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
    }
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
  header {
    height: 400px;
    .swiper .swiper-slide::before {
      background: -webkit-gradient(linear, left bottom, left top, from(#000000da), to(transparent));
      background: -o-linear-gradient(bottom, #000000da, transparent);
      background: linear-gradient(to top, #000000da, transparent);
    }
    .swiper-caption {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 10px;
      .desc {
        text-align: center;
      }
    }
  }
  .row-we {
    .post {
      height: 350px;
    }
  }
  .news {
    height: 450px;
  }
  .parent-img {
    height: 209px;
  }
}
@media screen and (max-width: 450px) {
  body {
    font-size: 14px;
  }
  header {
    height: 350px;
  }
  .row-we {
    .post {
      height: 290px;
      .overlay {
        bottom: -233px;
      }
    }
  }
}
::-webkit-scrollbar {
  background-color: var(--color-3);
  border-radius: 15px;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff73;
  border-radius: 15px;
}
